<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.edrop.mapper.EmployeeMapper">
	<resultMap type="employee" id="employeeMap">
		<id column="id" property="id"/>
		<result column="phone" property="phone"/>
		<result column="qq" property="qq"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="imgname" property="imgname"/>
		<result column="imgpath" property="imgpath"/>
		<result column="gender" property="gender"/>
		<result column="registerTime" property="registerTime"/>
		<result column="last_operation_time" property="lastOperationTime"/>
	</resultMap>
	
	<!-- 插入用户信息 -->
	<insert id="insEmployeeInfo">
		insert into employee(id, phone, qq, username, password, imgpath, imgname, gender, registerTime) 
		values(default, #{phone}, #{qq}, #{username}, #{password}, #{imgpath}, #{imgname}, #{gender}, #{registerTime})
	</insert>
	
	<!-- 用户名查询员工信息 -->
	<select id="selEmployeeByUsername" resultMap="employeeMap">
		select * from employee where username = #{username}
	</select>
	
	<!-- id 查询员工 -->
	<select id="selEmployeeInfoById" resultMap="employeeMap">
		select * from employee where id=#{id}
	</select>
	<!-- 查询所有工作人员 -->
	<select id="selectAllEmployee" resultMap="employeeMap">
		select *
		from employee
		<where>
			<if test="username != '' and username != null">
				and username like concat('%','${username}','%')
			</if>
			<if test="phone != '' and phone != null">
				and phone like concat('%','${phone}','%')
			</if>
		</where>
		
	</select>
	<!-- 更新用户数据 -->
	<update id="upEmployeeInfo">
		update employee
	 	<set>
	 		<if test="phone != '' and phone != null">
	 			phone = #{phone},
	 		</if>
	 		<if test="username != '' and username != null">
	 			username = #{username},
	 		</if>
	 		<if test="qq != '' and qq != null">
	 			qq = #{qq},
	 		</if>
	 		<if test="gender != '' and gender != null">
	 			gender = #{gender},
	 		</if>
	 		<if test="imgpath != '' and imgpath != null">
	 			imgpath = #{imgpath},
	 		</if>
	 	</set>
	 	where id = #{id}
	</update>
	
	<delete id="deleteByEmployeeId">
		delete 
		from employee
		where id = #{id}
	</delete>
</mapper>